body {
    margin: 0;
    font-family: sans-serif;
}

th, td {
	border-bottom: 1px solid black;
}

tr:not(:first-child):hover {background-color: #4CAF50;}

div {
  width:300px;
  margin-left: auto;
  margin-right: auto;
}