{% extends 'base.html' %}

{% block head %}
<title>Jar manager</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Jar manager</h1>
    {% if not jars %}

    {% else %}
    <table>
        <tr>
            <th>Jar</th>
            <th>Balance</th>
            <th>Currency</th>
            <th>Delete</th>
        </tr>
        {% for jar in jars %}
        <tr >
            <td><a href="jar/{{jar.id}}">{{ jar.id }}</a></td>
            <td>{{ jar.balance }}</td>
            <td>{{ jar.currency }}</td>
            <td><a href="delete/{{jar.id}}">Delete jar</a></td>
        </tr>
        {% endfor %}

    </table>

    {% endif %}

    <form action="/" method="POST" id="jarform">
        <input type="submit" value="Add jar">
        <select name="currency" id="currency" form="jarform">
          <option value="PLN">PLN</option>
          <option value="EUR">EUR</option>
          <option value="USD">USD</option>
          <option value="GBP">GBP</option>
        </select>
    </form>

    <h4><a href="/jar2jar">Transfer between jars</a></h4>
    <h4><a href="/operations">Show history</a></h4>

</div>
{% endblock %}