{% extends 'base.html' %}

{% block head %}
<title>Jar Master</title>
{% endblock %}

{% block body %}
<div class="content">
    {% if id %}
    <h2>History of operations for jar {{id}}</h2>
    {% else %}
    <h2>History of operations for all jars</h2>
    {% endif %}
    <form action="/operations", method="POST">
        <select name="id">
            {% for jar in jars %}
                {% if jar.id == id%}
                    <option value={{jar.id}} selected>{{jar}}</option>
                {% else %}
                    <option value={{jar.id}}>{{jar}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="submit" value="Filter">
    </form>
    <br>
    {% if not operations %}
    <h4>No operations yet!</h4>
    {% else %}
    <table class="searchable sortable">
        <thead>
        <tr>
            <th>Jar ID</th>
            <th>Datetime</th>
            <th>Title</th>
            <th>Value</th>
        </tr>
        </thead>
    {% for operation in operations %}
        <tr>
            <td>{{operation.jar_id}}</td>
            <td>{{operation.datetime_short}}</td>
            <td>{{operation.title}}</td>
            <td>{{operation.value}}</td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}